/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-family: var(--ifm-font-family-monospace)
}

.heroLogo {
  width: 96px;
  height: 96px;
  position: absolute;
  top: 80px;
  left: calc(50% - 360px);
}

.heroLogo g {
  transform-origin: 50% 50%;
  transition: transform .5s, color .5s;
}

.heroLogo:hover g {
  transform: none  !important;
  color: white;
}

.heroLogo:hover ellipse {
  stroke-width: 20;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroLogo {
    position: relative;
    top: 0;
    left: 0;
  }

  .heroTitle:global(.hero__title) {
    font-size: min(7vw, 48px);
  }
  .heroTitle:global(.hero__subtitle) {
    font-size: min(5vw, 24px);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
