/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* maple-mono-latin-100-normal */
@font-face {
    font-family: 'Maple Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-100-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-100-normal.woff) format('woff');
}

/* maple-mono-latin-200-normal */
@font-face {
    font-family: 'Maple Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-200-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-200-normal.woff) format('woff');
}

/* maple-mono-latin-300-normal */
@font-face {
    font-family: 'Maple Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-300-normal.woff) format('woff');
}

/* maple-mono-latin-400-normal */
@font-face {
    font-family: 'Maple Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff) format('woff');
}

/* maple-mono-latin-500-normal */
@font-face {
    font-family: 'Maple Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-500-normal.woff) format('woff');
}

/* maple-mono-latin-600-normal */
@font-face {
    font-family: 'Maple Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-600-normal.woff) format('woff');
}

/* maple-mono-latin-700-normal */
@font-face {
    font-family: 'Maple Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-700-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-700-normal.woff) format('woff');
}

/* maple-mono-latin-800-normal */
@font-face {
    font-family: 'Maple Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-800-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-800-normal.woff) format('woff');
}

/* maple-mono-latin-100-italic */
@font-face {
    font-family: 'Maple Mono';
    font-style: italic;
    font-display: swap;
    font-weight: 100;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-100-italic.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-100-italic.woff) format('woff');
}

/* maple-mono-latin-200-italic */
@font-face {
    font-family: 'Maple Mono';
    font-style: italic;
    font-display: swap;
    font-weight: 200;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-200-italic.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-200-italic.woff) format('woff');
}

/* maple-mono-latin-300-italic */
@font-face {
    font-family: 'Maple Mono';
    font-style: italic;
    font-display: swap;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-300-italic.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-300-italic.woff) format('woff');
}

/* maple-mono-latin-400-italic */
@font-face {
    font-family: 'Maple Mono';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-italic.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-italic.woff) format('woff');
}

/* maple-mono-latin-500-italic */
@font-face {
    font-family: 'Maple Mono';
    font-style: italic;
    font-display: swap;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-500-italic.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-500-italic.woff) format('woff');
}

/* maple-mono-latin-600-italic */
@font-face {
    font-family: 'Maple Mono';
    font-style: italic;
    font-display: swap;
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-600-italic.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-600-italic.woff) format('woff');
}

/* maple-mono-latin-700-italic */
@font-face {
    font-family: 'Maple Mono';
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-700-italic.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-700-italic.woff) format('woff');
}

/* maple-mono-latin-800-italic */
@font-face {
    font-family: 'Maple Mono';
    font-style: italic;
    font-display: swap;
    font-weight: 800;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-800-italic.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-800-italic.woff) format('woff');
}

:root {
  --ifm-color-primary: #05C79D;
  --ifm-color-primary-dark: #049576;
  --ifm-color-primary-darker: #03634F;
  --ifm-color-primary-darkest: #013227;
  --ifm-color-primary-light: #06F9C5;
  --ifm-color-primary-lighter: #33FACF;
  --ifm-color-primary-lightest: #60FBDA;
  --ifm-code-font-size: 95%;
  --ifm-font-family-monospace: 'Source Code Pro', monospace;
  --ifm-font-family-base: 'Source Sans 3', sans-serif;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-navbar-link-color: var(--ifm-color-primary-dark);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-darker);
  --ifm-breadcrumb-color-active: var(--ifm-color-primary-dark);
  --ifm-breadcrumb-border-radius: 5px;
}

[class].footer--dark {
    --ifm-footer-background-color: #242526;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25E7BD;
  --ifm-color-primary-dark: #34C5A6;
  --ifm-color-primary-darker: #43A38F;
  --ifm-color-primary-darkest: #013227;
  --ifm-color-primary-light: #06F9C5;
  --ifm-color-primary-lighter: #33FACF;
  --ifm-color-primary-lightest: #60FBDA;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

code {
  padding-inline: 0.5rem;
  padding-block: 0;
  margin: -0.1rem 0.1rem 0.1rem;
  display: inline-block;
}

a {
  color: var(--ifm-color-primary-dark);
}

.table-of-contents code {
    display: contents;
    font: inherit;
}

.navbar__link--active {
  font-weight: 700;
}

.table-of-contents__link--active,
.menu__link--active,
[class].sidebarItemLinkActive_node_modules-\@docusaurus-theme-classic-lib-theme-BlogSidebar-Desktop-styles-module {
  color: var(--ifm-color-primary-dark) !important;
}

.table-of-contents__link:hover,
.menu__link:hover {
  color: var(--ifm-color-primary-darker);
}

.emoji {
    width: 1.1em;
    height: 1.1em;
}

[class].theme-admonition-ref, [class].theme-admonition-ref details {
    --ifm-alert-background-color: var(--ifm-color-secondary-contrast-background);
    --ifm-alert-background-color-highlight: #ebedf026;
    --ifm-alert-foreground-color: var(--ifm-color-secondary-contrast-foreground);
    --ifm-alert-border-color: var(--ifm-color-secondary-dark);
}
[class].theme-admonition-ref details {
    border: none;
    box-shadow: none;
    padding: 0;
}
[class].theme-admonition-ref details summary {
    font-weight: bold;
}
[class].theme-admonition-ref > div > div {
    border-top: 0;
    padding-top: 0;
    margin-top: 0.5rem;
}
[class].theme-admonition-ref > div:first-child {
    display: none;
}